.page {
    text-align: center;
}

.page h1 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.7em;
}

.calendar {
    width: 300px;
    margin: auto;
    padding: 20px 0 10px;
}

.calendar table {
    margin: auto;
    border: 2px solid black;
    text-align: center;
    border-collapse: collapse;
}

.calendar th {
    padding: 2px;
    width: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.calendar td {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.calendar caption {
    padding: 0;
    caption-side: inherit;
    text-align: inherit;
    color: black;
    background-color: #f8f9fa;
    border-radius: 2rem;
}

.calendar caption span {
    display: inline-block;
    font-weight: 400;
    padding: 5px 5px;
    line-height: 20px;
    vertical-align: middle;
}

.calendar caption .btn {
    line-height: 20px;
}

.calendar caption .prevBtn {
    float: left;
}

.calendar caption .nextBtn {
    float: right;
}